<h2><%= t('.title') %></h2>
<table class="table table-hover">
  <thead><tr>
    <th><%= t '.name' %></th>
    <th><%= t '.description' %></th>
  </tr></thead>

  <tbody><% @decks.each do |deck| %>
    <tr>
      <td><%= deck.name %></td>
      <td><%= deck.description %></td>
      <td><%= t('.current') if deck.current %></td>
      <td><%= link_to t('.view'), deck_path(deck) %></td>
      <td><%= link_to t('.edit'), edit_deck_path(deck) %></td>
      <td><%= link_to t('.delete'), deck_path(deck),
                    method: :delete,
                        data: { confirm: t('.confirm') } %></td>
    </tr>
  <% end %></tbody>
</table>
